*{
  background-color: beige;
}

header {
  color: black;
  font-size: 40px;
  text-align: center;
  background-color: rgb(194, 145, 153);
}

h1 {
    color: rgb(37, 14, 139);
}

article {
  padding: 15px 17px 15px 17px;
}

.performance_tips, .performance_tips_list, .feature_ums, .features_ums_list, .for_more_info, .contact_info {
  width: 500px;
  margin: auto;
}

.performance_tips_list, .features_ums_list {
  padding: 10px;
  list-style-position: inside;
}

.introduction, .author-details, .image_ums {
  width: 600px;
  margin: auto;
  padding:10px;
}
