* {
    padding : 0px;
    margin : 0px;
    background-color: #e1f3f2;
}

.table_title {
    margin: 50px;
    text-align: center;
    color: #4C3B4D;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;

}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 12px;
    font-size: 15px;
    background-color: #dee3e7;
    letter-spacing: normal;
}