*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    background-color: black;
    color: white;
}
.about, .services, .contact{
    /* border:1px solid red; */
    padding: 0px 10px 0px 10px;
}
.name:hover{
    cursor: pointer;
    /* background-color: rgb(40, 38, 38); */
    color:rgb(169, 18, 18)
}
.about:hover, .services:hover, .contact:hover{
    cursor: pointer;
    /* background-color: rgb(40, 38, 38); */
    color:rgb(169, 18, 18)
}
.container{
    background-image: url(./images/pexels-suzy-hazelwood-1629236.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}
#name{
    /* border:1px solid red; */
    color:white;
    width: 50%;
    margin:auto;
    padding-top: 310px;
    text-align:center;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}
#name1{
    /* border:1px solid red; */
    color:white;
    width: 50%;
    margin:auto;
    font-size: large;
    text-align:center;
    padding-top: 15px;
    font-family:'Times New Roman', Times, serif;
}







