*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    background-color: black;
    color: white;
    position: sticky;
    top: 0px;
}
.about, .services, .contact{
    /* border:1px solid red; */
    padding: 0px 10px 0px 10px;
}
.name:hover{
    cursor: pointer;
    /* background-color: rgb(40, 38, 38); */
    color:rgb(122, 64, 64)
}
.about:hover, .services:hover, .contact:hover{
    cursor: pointer;
    /* background-color: rgb(40, 38, 38); */
    color:rgb(115, 49, 49)
}
.container{
    background-image: url(./images/pexels-suzy-hazelwood-1629236.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}
#name{
    /* border:1px solid red; */
    color: white;
    width: 50%;
    margin: auto;
    padding-top: 310px;
    text-align: center;
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
}
#name1{
    /* border:1px solid red; */
    color: white;
    width: 50%;
    margin: auto;
    font-size: large;
    text-align: center;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.tab{
    display: flex;
    justify-content: left;
    overflow: hidden;
    border: 1px solid rgb(186, 17, 17);
    background-color: rgb(123, 116, 116);
    margin: 20px 170px 20px 170px;
    
}
.tab button{
    
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover{
    background-color: rgb(11, 10, 10);
    color: white;
}
.tab button.active{
    background-color: #ccc;
    
}
.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.para{
    display: flex;
    justify-content: center;
    margin: 20px;
    text-transform: uppercase;
}
.service{
    background-color: black;
    color: white;
    padding: 40px 80px 40px 80px;
    /* max-width: 100px; */
    margin: 50px auto;
    /* padding:10px; */
    display: grid; 
    grid-template-columns: 1fr 6fr 1fr; /* (1fr, 1fr, 1fr)it specifies number of columns. we can use px, %, or fractioions. */
    gap: 5px;
    
}
/* .item{
    display:flex;
    justify-content: space-around; 
    justify-items: center; 
    border:1px solid red; 
} */

.item:nth-of-type(1){
    position: relative;
    top: 50%;
    /* font-size:larger; */
    text-align: center;
    /* text-align: right; */
 }

.item:nth-of-type(3){
    position: relative;
    top: 50%;
    text-align: center;
} 
/* .service{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 40px 80px 40px 80px;
} */
/* .content{
    display:inline-flex;
    justify-content: center;
}
.web{
    color: yellow;
} */
.leftnav, .rightnav{
    background-color: black;
    color: white;
}
.projects{
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "birdlogo emiratesapp weatherapp";
    grid-gap: 0.5rem;
    max-width: 100%;
    width: 1300px;
    margin: auto;
    
}
#birdlogo{
    /* background: rgb(149, 136, 136); */
    grid-area: birdlogo;
    background-image: url(./images/pexels-artem-podrez-6942655.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;
    background-attachment:local;
}

#emiratesapp{
    grid-area: emiratesapp;
    background-image: url(./images/pexels-photomix-company-887751.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: local;
}
#weatherapp{
    grid-area: weatherapp;
    background-image: url(./images/pexels-daria-shevtsova-1440727.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: local;
}
#birdtext, #emiratestext, #weathertext{
    text-align: left;
    position: absolute;
    top: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 15px;
    color: black;

}

@media only screen and (max-width: 550px){
    .projects{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr;
        height: 130vh;
        grid-template-areas: 
        "birdlogo"
        "emiratesapp"
        "weatherapp";
    }
}
.contacts{
    width: 800px;
    margin: auto;
    border:1px solid red;
}
.form {
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
}
.form-control {
    text-align:center;
    margin-bottom: 30px;
    box-sizing: border-box;
}





